//Created by mengyao on 16-3-23.
- var pageTitle = "framework 233";
doctype html
html(lang="zh-cn")
    head
        title= pageTitle
    body
        h1 Hello World! Kevin Tan 233351234
        div
            img(src="../img/test.png")
        script(src='bundle.js')

