//Created by mengyao on 16-3-23.
- var pageTitle = "framework 2334";
doctype html
html(lang="zh-cn")
    head
        title= pageTitle
        link(rel='stylesheet' href='/assets/css/styles.css')
    body
        h1 Hello World! Kevin Tan 2335432
        div
            img(src="/assets/img/test.png")
        script(src='/assets/js/vendor.bundle.js')
        script(src='/assets/js/bundle.js')
